* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #F99A1D, #1e1e1d, #1d1c1c, #F43D38);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.super-wrapper-proje-ekle {
  margin-top: 160px;
}

.card-header {

  background-color:#1d1c1b;

}

.card-footer {

background-color: transparent;

}

.proje-ekle-img {
  object-fit: cover;
}
.section-contact {
  background-color: whitesmoke;
  padding: 30px;
}

.form-control,
.form-select {
  background-color: whitesmoke;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-control:focus,
.form-select:focus {
  background-color: whitesmoke;
  border: 2px solid #f43d38 !important;
  box-shadow: none;
}

.form-check-label {
  color: black;
}

.form-wrapper {
  padding: 0;
  margin: auto;
}

label {
  color: #f99a1d;
  font-weight: 500;
}

.kvkk-anchor {
  color: #f99a1d;
  font-weight: bold;
}

.kvkk-anchor:hover {
  color: #f43d38;
  font-weight: bold;
}

.section-contact .header-section .title {
  position: relative;
  margin-bottom: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 55px;
  color: #f99a1d;
}

.section-contact .header-section .description {
  color: black;
  font-weight: bold;
}

.section-contact .form-contact .single-input {
  position: relative;
  margin-top: 40px;
}

.section-contact .form-contact .single-input i {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #f99a1d;
}

.section-contact .form-contact .single-input input,
.section-contact .form-contact .single-input select,
.section-contact .form-contact .single-input select option,
.section-contact .form-contact .single-input textarea {
  width: 100%;
  border: none;
  padding-left: 50px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
}

.section-contact .form-contact .single-input input::placeholder,
.section-contact .form-contact .single-input textarea::placeholder {
  color: gray;
}

.section-contact .form-contact .single-input textarea {
  height: 150px;
  min-height: 50px;
}

 .form-check-input {
  height: 20px;
  width: 30px;
}

 .form-check-input:checked {
  background-color: #f43d38;
  border: none;
  box-shadow: none;
}

.form-check-input:not(:checked) {
  border: none;
  box-shadow: none;
  background-color: #f99a1d;
}

fbmit-btn {
  padding: 15px 50px;
  background-color: whitesmoke;
  color: #333;
  border: none;
  font-weight: 700;
  transition: background-color 0.3s;
}

#submit-btn {
  background-color: #f99a1d;
  color: white;
}

#submit-btn:hover {
  background-color: #f43d38;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.fa-hand-point-right,
.fa-hand-point-left {
  opacity: 0;
  transition: opacity 0.3s;
}

.hover-target:hover .fa-hand-point-left,
.hover-target:hover .fa-hand-point-right {
  color: #f43d38;
  opacity: 1;
}

@media (max-width: 575.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 40px;
  }

  .section-contact .header-section .big-title {
    font-size: 80px;
  }

  .section-contact .header-section .description {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 45px;
  }

  .section-contact .header-section .big-title {
    font-size: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 45px;
  }

  .section-contact .header-section .big-title {
    font-size: 100px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background: black;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
  color: white;
  text-decoration: none;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top:hover {
  background: #f43d38;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#add {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background-color 0.2s ease-in-out;
}

#add-members-info {
  color: #f99a1d;
}

#add:hover {
  background-color: #44a047;
}

.remove {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 10px;
}

.remove:hover {
  background-color: #d33f2f;
}

.remove:active {
  transform: translateY(2px);
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #f99a1d;
  text-indent: 10px;
  padding: 20px;
}


tr {
  transition: background-color 0.2s ease-in-out;
}

tr:hover {
  background-color: #f5f5f5;
}


$cyan: #f99a1d;
$dark: #ffffff;
$borderW: 2px;

.buttons {
  margin-top: 20px;
  text-align: center;
  border-radius: 30px;
}


#editor {

  height: 300px;


}


.blob-btn {
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  color: $cyan;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;

  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid $cyan;
    border-radius: 30px;
  }

  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW * 1.5;
    top: $borderW * 1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius: 30px;
  }

  &:hover {
    color: $dark;
    border-radius: 30px;

    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius: 30px;
    }
  }

  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }

  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url("#goo");
  }

  &__blob {
    position: absolute;
    top: $borderW;
    width: calc(100% / $numOfBlobs);
    height: 100%;
    background: $cyan;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;

    @supports (filter: url("#goo")) {
      transform: translate3d(0, 150%, 0) scale(1.4);
    }

    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * calc(100% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }

    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);

      @supports (filter: url("#goo")) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
}

