<nav class="navbar fixed-top navbar-expand-xxl main-navbar">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center nav-items-wrapper">
            <div class="nav-logo-wrapper d-block justify-content-center">

                <a href="/anasayfa"><img width="120" height="120" src="/images/logos/navbar-logo.png" alt=""></a>

            </div>
            <button class="navbar-toggler m-4" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <img class="img-fluid" src="../../images/logos/navbar-logo.png" alt="">
                    {{!-- <h2 class="offcanvas-title" id="offcanvasNavbarLabel">FİKRİM GELDİ</h2> --}}
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="/anasayfa"></i> Anasayfa</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Proje Kütüphanesi
                            </a>
                            <ul class="dropdown-menu dropdown_menu--animated">
                                <li><a class="dropdown-item" href="/proje_kutuphanesi">
                                        Kütüphaneye Göz At</a></li>

                                <li><a class="dropdown-item" href="/proje_ekle">
                                        Kütüphaneye Bir Proje Ekle</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                               Takım Arkadaşı Bul
                            </a>
                            <ul class="dropdown-menu dropdown_menu--animated">
                                <li><a class="dropdown-item" href="/takim_arkadasi_ilan_panosu">
                                      Takım Arkadaşı İlan Panosuna Göz At</a></li>

                                <li><a class="dropdown-item" href="/takim-arkadasi-ilani-ver">
                                        Bir Takım Arkadaşı İlanı Ver</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                               Danışmanlık Al
                            </a>
                            <ul class="dropdown-menu dropdown_menu--animated">
                                <li><a class="dropdown-item" href="#">
                                    
                                       Danışmanlık Panosuna Göz At</a></li>

                                <li><a class="dropdown-item" href="#">
                                        Bir Danışmanlık İlanı Ver</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-current="page">
                                Fikrini
                                Geliştir</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/profil/{{user_id}}">
                                Profil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/giris_yap"> Çıkış
                                Yap</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>