.breadcrumb-item+.breadcrumb-item::before {
    content: '';
  }
  
  
  .breadcrumb-item{
  
    margin: 5px;
  
  }
  .breadcrumb-item a,
  .bc-seperator
  {
  
    color: #F29D35;
    text-decoration: none;
  
  }
  
  
  .current-page {
    
      padding: 10px;
      margin: 5px;
      border-radius: 10px;
    --border-size: 2px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle),
        rgb(255, 255, 255),
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255)),
      conic-gradient(from var(--border-angle), transparent 20%, #d61010, rgb(17, 232, 248));
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 4s linear infinite;
  
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  
  @keyframes bg-spin {
    to {
      --border-angle: 3turn;
    }
  }