<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FİKRİM GELDİ</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">


    <!-- Vendor CSS Files -->
    <link href="../anasayfa/Impact/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../anasayfa/Impact/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../anasayfa/Impact/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../anasayfa/Impact/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../anasayfa/Impact/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">


    <!-- Main CSS File -->

    <link href="../anasayfa/Impact/assets/css/anasayfa.css" rel="stylesheet">



</head>

<body>


    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/anasayfa" class="logo d-flex align-items-center">
                <img class="img-fluid mt-3" src="../images/logos/logo.png" alt="">
            </a>
            <nav id="navbar" class="navbar">

                <ul>
                    <li><a href="#moduller">Modüller</a></li>
                    <li><a href="#hakkimizda">Hakkında</a></li>
                    <li><a href="#proje-ornekleri">Proje Örnekleri</a></li>
                    <li><a href="#ilan-ornekleri">İlan Örnekleri</a></li>
                    <li><a href="#takimimiz">Takımımız</a></li>
                    <li><a href="#iletisim">İletişim</a></li>
                    <li><a href="/giris_yap">Çıkış Yap</a></li>



                    {{#ifCond role '==' 'admin' }}

                    <li><a href="/anasayfa/admin">Admin Paneli</a></li>

                    {{/ifCond}}

                </ul>
            </nav>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header>

    <section id="moduller" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div
                    class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">

                    <h2><span>Fikrim Geldi'ye</span> Hoş Geldin <span style="color:#F99A1D">{{user.NAME}}
                            {{user.SURNAME}}</span></h2>
                    <p>Yeni fikirlerinizi, projelerinizi, problemlere getirdiğiniz harika çözümlerinizi paylaşmak için
                        size özel bir platform.

                        Burada sosyalleşebilir, yeni projeleriniz için ilham alabilir, yeni çalışma arkadaşları
                        edinebilirsiniz.</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="/proje_kutuphanesi" class="btn-get-started">Şimdi Başlayın</a>

                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 order">
                    <img src="../anasayfa/Impact/assets/img/hero-img.png" class="img-fluid" alt="Hero Image"
                        data-aos-delay="100">
                </div>
            </div>
        </div>

        <div class="icon-boxes position-relative">
            <div class="container position-relative">
                <div class="row gy-4 mt-5">

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-easel"></i></div>
                            <h4 class="title"><a href="/proje_kutuphanesi" class="stretched-link">Proje Kütüphanesi</a>
                            </h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-geo-alt"></i></div>
                            <h4 class="title"><a href="/takim_arkadasi_ilan_panosu" class="stretched-link">Takım
                                    Arkadaşı Bul</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-command"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">Danışmanlık Al</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->


                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-gem"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">Fikrini Geliştir</a></h4>
                        </div>
                    </div>
                    <!--End Icon Box -->

                </div>
            </div>
        </div>

        </div>
    </section>

    <main id="main">


        <section id="hakkimizda" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Fikrim Geldi Nedir?</h2>
                    <p>Yeni proje fikirlerinizi paylaşabileceğiniz, başkalarının yapmış olduğu projeleri
                        inceleyebileceğiniz ve kendinize yeni takım arkadaşları edinip danışmanlık alabileceğiniz bir
                        web platformudur. </p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-6">
                        <h3>FİKRİM GELDİ ile yapabilecekleriniz</h3>
                        <img src="../anasayfa/Impact/assets/img/about.png" class="img-fluid rounded-4 mb-4" alt="">
                        <p>Daha önceden <span class="fw-bold">İnci Holding ve Grup Şirketleri</span> bünyesinde yapılmış
                            olan mevcut projeleri inceleyin. Projeyi yapan ekip, projenin içeriği ve yapılış tarihi ile
                            alaklı bir çok bilgi şimdi <a href="/proje_kutuphanesi" target="_blank">Proje Kütüphanesinde
                                !</a></p>
                        <p>Proje ekibinize yeni bir takım arkadaşı mı arıyorsunuz? Bize mesajınızı gönderin ve ilanınızı
                            yayınlayıp paylaşalım! Mevcut ilanlara göz atmak veya bir ilan paylaşmak için <a
                                href="#">Takım Arkadaşı Bul'u</a> şimdi ziyaret edin !</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">

                                Karmaşıklıktan uzak, sonuca yönelik bir proje yönetim arayüzü ile adım adım projenizi
                                paylaşın veya fikirlerinizi geliştirin.


                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle-fill"></i><a target="_blank"
                                        href="/profil/{{email}}">Profilinizde</a>
                                    eklemiş olduğunuz mevcut projelerinizi görüntüleyin ve yönetin</li>
                                <li><i class="bi bi-check-circle-fill"></i>Başka kişilerin eklemiş olduğu projeleri ve
                                    profillerini görüntüleyin</li>
                                <li><i class="bi bi-check-circle-fill"></i>Ardından kendinize uygun bir takım arkadaşı
                                    bulun:)</li>
                            </ul>
                            <p>
                                Tek tek başarılamayacak işlerin üstesinden bir ekip olarak gelmek, hemen herkesin
                                motivasyonunun artmasına ve çalışma azminin yükselmesine neden olur. Dolayısıyla iyi bir
                                ekibin işi her zaman çok daha kolaydır.
                            </p>

                            <div class="position-relative mt-4">
                                <img src="../anasayfa/Impact/assets/img/about-2.png" class="img-fluid rounded-4" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->

        <section id="proje-ornekleri" class="portfolio sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>En Son Paylaşılan Proje Örnekleri</h2>
                    <p> <span class="fw-bold">İnci Holding ve Grup Şirketleri bünyesinde</span> son olarak paylaşılmış
                        projeleri görüntüleyin</p>
                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

                    <div>
                        <ul class="portfolio-flters">
                            <li data-filter="*" class="filter-active">Tümünü Göster</li>
                            <li data-filter=".filter-app">ARGE</li>
                            <li data-filter=".filter-product">Üretim</li>
                            <li data-filter=".filter-branding">Kurumsal Sosyal Sorumluluk</li>
                            <li data-filter=".filter-books">Hizmet</li>
                        </ul><!-- End Portfolio Filters -->
                    </div>

                    <div class="row gy-4 portfolio-container">

                        <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <img src="../anasayfa/Impact/assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html" title="More Details">Proje1</a></h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-xl-4 col-md-6 portfolio-item filter-product">
                            <div class="portfolio-wrap">
                                <img src="../anasayfa/Impact/assets/img/portfolio/product-1.jpg" class="img-fluid"
                                    alt="">
                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html" title="More Details">Proje2</a></h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
                            <div class="portfolio-wrap">
                                {{!-- <a href="assets/img/portfolio/branding-1.jpg" data-gallery="portfolio-gallery-app"
                                    class="glightbox"></a> --}}
                                <img src="../anasayfa/Impact/assets/img/portfolio/branding-1.jpg" class="img-fluid"
                                    alt="">
                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html" title="More Details">Proje3</a></h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-xl-4 col-md-6 portfolio-item filter-books">
                            <div class="portfolio-wrap">
                                {{!-- <a href="assets/img/portfolio/books-1.jpg" data-gallery="portfolio-gallery-app"
                                    class="glightbox"></a> --}}
                                <img src="../anasayfa/Impact/assets/img/portfolio/books-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html" title="More Details">Proje4</a></h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->



                    </div><!-- End Portfolio Container -->

                </div>

            </div>
        </section>

        <section id="ilan-ornekleri" class="recent-posts sections-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>En son paylaşılan takım arkadaşı ilanları</h2>
                    <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel
                        architecto accusamus fugit aut qui distinctio</p>
                </div>

                <div class="row gy-4">

                    <div class="col-xl-4 col-md-6">
                        <article>

                            <div class="post-img">
                                <img src="../anasayfa/Impact/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                            </div>

                            <p class="post-category">Hizmet</p>

                            <h2 class="title">
                                <a href="blog-details.html">Hizmet projesi hakkında bir takım arkadaşı ilanı</a>
                            </h2>

                            <div class="d-flex align-items-center">
                                <img src="../anasayfa/Impact/assets/img/blog/blog-author.jpg" alt=""
                                    class="img-fluid post-author-img flex-shrink-0">
                                <div class="post-meta">
                                    <p class="post-author">Ayşe Şen</p>
                                    <p class="post-date">
                                        <time datetime="2022-01-01">1 Haziran 2022</time>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div><!-- End post list item -->

                    <div class="col-xl-4 col-md-6">
                        <article>

                            <div class="post-img">
                                <img src="../anasayfa/Impact/assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
                            </div>

                            <p class="post-category">Üretim</p>

                            <h2 class="title">
                                <a href="blog-details.html">Üretim projesi hakkında bir takım arkadaşı ilanı</a>
                            </h2>

                            <div class="d-flex align-items-center">
                                <img src="../anasayfa/Impact/assets/img/blog/blog-author-2.jpg" alt=""
                                    class="img-fluid post-author-img flex-shrink-0">
                                <div class="post-meta">
                                    <p class="post-author">Görkem Buse Mert</p>
                                    <p class="post-date">
                                        <time datetime="2022-01-01">5 Haziran 2022</time>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div><!-- End post list item -->

                    <div class="col-xl-4 col-md-6">
                        <article>

                            <div class="post-img">
                                <img src="../anasayfa/Impact/assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
                            </div>

                            <p class="post-category">Kurumsal Sosyal Sorumluluk</p>

                            <h2 class="title">
                                <a href="blog-details.html">Kurumsal Sosyal Sorumluluk projesi hakkında bir takım
                                    arkadaşı ilanı</a>
                            </h2>

                            <div class="d-flex align-items-center">
                                <img src="../anasayfa/Impact/assets/img/blog/blog-author-3.jpg" alt=""
                                    class="img-fluid post-author-img flex-shrink-0">
                                <div class="post-meta">
                                    <p class="post-author">Orçun Gök</p>
                                    <p class="post-date">
                                        <time datetime="2022-01-01">22 Haziran 2022</time>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div><!-- End post list item -->

                </div><!-- End recent posts list -->

            </div>
        </section>




        <section id="sss" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4">

                    <div class="col-lg-4">
                        <div class="content px-xl-5">
                            <h3> Sıkça Sorulan <strong>Sorular</strong></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-8">

                        <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-1">
                                        <span class="num">1.</span>
                                        Non consectetur a erat nam at lectus urna duis?
                                    </button>
                                </h3>
                                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
                                        laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor
                                        rhoncus dolor purus non.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-2">
                                        <span class="num">2.</span>
                                        Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                                    </button>
                                </h3>
                                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                                        interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus
                                        scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
                                        Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-3">
                                        <span class="num">3.</span>
                                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                                    </button>
                                </h3>
                                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.
                                        Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl
                                        suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis
                                        convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-4">
                                        <span class="num">4.</span>
                                        Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                                    </button>
                                </h3>
                                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                                        interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus
                                        scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
                                        Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-5">
                                        <span class="num">5.</span>
                                        Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                                    </button>
                                </h3>
                                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim
                                        suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan.
                                        Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit
                                        turpis cursus in
                                    </div>
                                </div>
                            </div><!-- # Faq item-->

                        </div>

                    </div>
                </div>

            </div>


            <section id="takimimiz" class="team">
                <div class="container" data-aos="fade-up">

                    <div class="section-header">
                        <h2>Takımımız</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores animi ut non possimus
                            tempore,
                            quam unde iste eligendi enim necessitatibus ea, quod magnam reiciendis adipisci at. Delectus
                            veritatis a debitis.</p>
                    </div>

                    <div class="row gy-4">

                        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                            <div class="member">
                                <img src="../anasayfa/Impact/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <h4>Orçun Gök</h4>
                                <span>Bilgisayar Mühendisi</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div><!-- End Team Member -->

                        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                            <div class="member">
                                <img src="../anasayfa/Impact/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <h4>Gülce Pınar Gülhan</h4>
                                <span>Pozisyon</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div><!-- End Team Member -->

                        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                            <div class="member">
                                <img src="../anasayfa/Impact/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <h4>Görkem Buse Mert</h4>
                                <span>Pozisyon</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div><!-- End Team Member -->

                        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                            <div class="member">
                                <img src="../anasayfa/Impact/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <h4>Ayşe Şen</h4>
                                <span>Pozisyon</span>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div><!-- End Team Member -->

                    </div>

                </div>
            </section>




            <section id="iletisim" class="contact">
                <div class="container" data-aos="fade-up">

                    <div class="section-header">
                        <h2>İletişim</h2>
                        <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea
                            sunt
                            quis dolorem dolore earum</p>
                    </div>

                    <div class="row gx-lg-0 gy-4">

                        <div class="col-lg-4">

                            <div class="info-container d-flex flex-column align-items-center justify-content-center">
                                <div class="info-item d-flex">
                                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                                    <div>
                                        <h4>Konum</h4>
                                        <p>Emrez, Akçay Cd. No:2 D:No:64, 35410 Gaziemir/İzmir</p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="info-item d-flex">
                                    <i class="bi bi-envelope flex-shrink-0"></i>
                                    <div>
                                        <h4>Email:</h4>
                                        <p>info@example.com</p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="info-item d-flex">
                                    <i class="bi bi-phone flex-shrink-0"></i>
                                    <div>
                                        <h4>Telefon Numarası:</h4>
                                        <p>+1 5589 55488 55</p>
                                    </div>
                                </div><!-- End Info Item -->

                                <div class="info-item d-flex">
                                    <i class="bi bi-clock flex-shrink-0"></i>
                                    <div>
                                        <h4>Açık Saatler:</h4>
                                        <p>Pzt-Cmt: 11:00 - 23:00</p>
                                    </div>
                                </div><!-- End Info Item -->
                            </div>

                        </div>

                        <div class="col-lg-8">
                            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="name" class="form-control" id="name"
                                            placeholder="İsminiz" required>
                                    </div>
                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Emailiniz" required>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="subject" id="subject"
                                        placeholder="Konu" required>
                                </div>
                                <div class="form-group mt-3">
                                    <textarea class="form-control" name="message" rows="7" placeholder="Mesajınız"
                                        required></textarea>
                                </div>
                                {{!-- <div class="my-3">
                                    <div class="loading">Yükleniyor</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Mesajınız Gönderildi.Teşekkür ederiz !</div>
                                </div> --}}
                                <div class="text-center"><button type="submit">Mesajı Gönder</button></div>
                            </form>
                        </div><!-- End Contact Form -->

                    </div>

                </div>
            </section>

    </main>

    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="/anasayfa" class="logo d-flex align-items-center">
                        <span>Fikrim Geldi</span>
                    </a>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                        valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Faydalı Linkler</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Product Management</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>

                </div>

            </div>
        </div>




        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        {{!-- <div id="preloader"></div> --}}

        <!-- Vendor JS Files -->
        <script src="../anasayfa/Impact/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../anasayfa/Impact/assets/vendor/aos/aos.js"></script>
        <script src="../anasayfa/Impact/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="../anasayfa/Impact/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="../anasayfa/Impact/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="../anasayfa/Impact/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

        {{!--
        <script src="../anasayfa/Impact/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script> --}}


        <script src="../anasayfa/Impact/assets/js/anasayfa.js"></script>

</body>

</html>