<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hata</title>

    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/custom-sheets/error.css">
    <link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">


</head>

<body>


    <div class="text text-center">
        <div class="display-3">FİKRİNİZ GELEMEDİ</div>
        <h1>404</h1>
        <hr>
        <div>Aradığınız içerik maalesef fikirler uzayında kaybolmuş</div>
        <div style="margin-top: 20px;"><a class="text-black" href="/anasayfa">Anasayfaya Dön</a></div>

    </div>


    <div class="astronaut">
        <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png"
            alt="" class="src">



        <script src="../js/error.js"></script>


</body>

</html>