<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Fikrim Geldi Sistem Girişi</title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link rel="stylesheet" href="../css/giriş_yap.css">
	<link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">



</head>

<body>

	<div class="container-fluid login-page-wrapper">
		<div class="row">
			<div class="col-lg-5 col-md-5 d-none d-lg-block p-0 login-img-wrapper" style="height: 100vh;">

				<img class="h-100 w-100" src="../images/form_images/login.png" alt="Fikrim-Geldi-Resim">

			</div>

			<div class="col-sm-12 col-lg-7 d-flex justify-content-center align-items-center login-form-wrapper">

				<div class="form-box text-center">
					<div class="logo">

						<img height="150" width="150" class="img-fluid" src="/images/logos/logo.png">

					</div>
					<div class="container overflow-x-hidden heading mb-2">
						{{#if msg}}
						<p class=" mb-3 {{msg_type}} fs-4 fw-bold animate__animated animate__headShake">
							{{msg}}</p>

						{{/if}}
						<h4>Hesabınıza giriş yapın</h4>
					</div>
					<form action="/giris_yap" method="post" id="giriş_yap_form">
						<div class="form-input">
							<span><i class="fa fa-envelope orange-icon"></i></span>
							<input type="email" name="email" id="email" placeholder="Email Adresi" required>
						</div>
						<div class="form-input">
							<span><i class="fa fa-lock orange-icon"></i></span>
							<input type="password" name="password" id="password" placeholder="Şifre" required>
						</div>
						<div class="mb-3">
							<div class="d-flex justify-content-end">
								<a href="/sifremi_unuttum" class="forget-link">Şifremi Unuttum</a>
							</div>
						</div>
						<div class="buttons">
							<button type="submit" class="blob-btn">
								GİRİŞ YAP
								<span class="blob-btn__inner">
									<span class="blob-btn__blobs">
										<span class="blob-btn__blob"></span>
										<span class="blob-btn__blob"></span>
										<span class="blob-btn__blob"></span>
										<span class="blob-btn__blob"></span>
									</span>
								</span>
							</button>
						</div>
						<div style="color: black">Hesabınız yok mu ?
							<a href="/kayit_ol" class="register-link">Buradan kayıt olun !</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<script src="../bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/giriş_yap.js"></script>


</body>

</html>