<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fikrim Geldi Kayıt Ol</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/kayıt_ol.css">
  <link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">


</head>

<body>

  <div id="kvkk-modal" class="modal modal-lg fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-3 text-center">İNCİ HOLDİNG - KİŞİSEL VERİLERİN
            İŞLENMESİ
            GENEL AYDINLATMA METNİDİR
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="text-indent: 20px;">
            İNCİ
            Kişisel verilerin korunması, Anayasal bir hak olup, Şirketimizin
            öncelikleri kapsamında yer almaktadır. Nitekim bu amaçla,
            Şirketimizde
            devamlı olarak güncellenen bir sistem kurulması amaçlanmıştır.

            Emrez Mah. Akçay 64/2 Gaziemir İzmir adresinde bulunan İnci
            Holding A.Ş.
            “Veri Sorumlusu” olarak, kişisel verilerinizin güvenliğine ve
            hukuka
            uygun şekilde işlenmesine azami hassasiyet göstermekteyiz. Bu
            bilinçle,
            Şirket olarak müşterilerimizin, potansiyel müşterilerimizin,
            çalışanlarımızın, çalışan
            adaylarımızın, stajyer ve öğrencilerimizin, tedarikçi/alt
            işveren
            çalışanlarının ve yetkililerinin, şirket hissedarlarımızın ve
            şirket
            ortaklarımızın, ziyaretçilerimizin ve diğer verisini işlediğimiz
            üçüncü
            kişilerin kişisel verilerinin 6698 sayılı Kişisel Verilerin
            Korunması
            Kanunu (“KVK Kanunu”)’na uygun olarak işlenmesine ve korunmasına
            büyük
            önem veriyoruz. Bu sorumluluğumuzun bilinciyle KVK Kanunu’nda
            tanımlı
            şekli ile “Veri Sorumlusu” sıfatıyla, kişisel verilerinizi
            aşağıda
            açıklandığı surette ve mevzuat tarafından emredilen sınırlar
            çerçevesinde işlemekteyiz.

            Kişisel Verilerinizi Hangi Amaçla İşliyoruz?

            Kişisel verileriniz, Şirketimiz tarafından sunulan ürün ve
            hizmetlerden
            sizleri faydalandırmak için gerekli çalışmaların iş birimlerimiz
            tarafından yapılması; Şirketimiz tarafından sunulan ürün ve
            hizmetlerin
            sizlerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre
            özelleştirilerek sizlere
            önerilmesi; Şirketimizin insan kaynakları politikalarının
            yürütülmesinin
            temini; Şirketimizin ve Şirketimiz ile iş ilişkisi içerisinde
            olan
            kişilerin hukuki ve ticari güvenliğinin temini; Şirketimizin
            ticari ve
            iş stratejilerinin belirlenmesi ve uygulanması amaçlarıyla
            ticari
            faaliyetlerimizi yürütmek çerçevesinde
            6698 sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel
            veri
            işleme şartları ve amaçları dahilinde işlemekteyiz.

            Kişisel verilerinizin Şirketimiz tarafından işlenme amaçları
            konusunda
            detaylı bilgiye; www.inciholding.com internet adreslerinden
            kamuoyu ile
            paylaşılmış olan Kişisel Verilerin Korunması ve İşlenmesi
            Politikası’ndan ulaşabilirsiniz.

            İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarıyoruz?

            Toplanan kişisel verileriniz; Şirketimiz tarafından sunulan ürün
            ve
            hizmetlerden sizleri faydalandırmak için gerekli çalışmaların iş
            birimlerimiz tarafından yapılması; Şirketimiz tarafından sunulan
            ürün ve
            hizmetlerin sizlerin beğeni, kullanım alışkanlıkları ve
            ihtiyaçlarına
            göre özelleştirilerek sizlere önerilmesi; Şirketimizin insan
            kaynakları
            politikalarının yürütülmesinin temini; Şirketimizin ve
            Şirketimizle iş
            ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin
            temini;
            Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve
            uygulanması
            amaçlarıyla; iş ortaklarımıza, tedarikçilerimize,
            hissedarlarımıza,
            iştiraklerimize, kanunen yetkili kamu kurumları ve özel
            kişilere, ticari
            faaliyetlerimizi yürütmek çerçevesinde 6698 sayılı Kanun’un 8.
            ve 9.
            maddelerinde belirtilen kişisel veri işleme şartları ve amaçları
            çerçevesinde www.inciholding.com internet adresinden kamuoyu ile
            paylaşılmış olan Kişisel Verilerin Korunması ve İşlenmesi
            Politikası’nda
            belirtilen amaçlarla sınırlı olarak aktarılabilecektir.


            Kişisel Verileri Hangi Yöntemlerle Ve Hangi Hukuki Sebebe Dayalı
            Olarak
            İşliyoruz?

            Kişisel verileriniz Şirketimiz tarafından internet sitesi, mobil
            uygulamalar, çağrı merkezi ve fiziki kanallar gibi farklı
            kanallarda
            icra edilen teknik ve süreçsel yöntemlerle; bu kanalları
            kullanarak
            sizlere ticari hizmetlerimizi sunmak ve bu çerçevede ticari
            faaliyetlerimizi yürütmek noktasında uygulama imkanı bulan
            ilgili
            mevzuat, sözleşme, talep, ticari teamül ve dürüstlük kurallarına
            dayalı
            olarak ortaya çıkan ve icra edilen hukuki sebepler çerçevesinde
            toplanmaktadır. Bu hukuki sebeple toplanan kişisel verileriniz
            6698
            sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri
            işleme
            şartları ve amaçları kapsamında bu Aydınlatma Metni’nin (b) ve
            (c)
            maddelerinde belirtilen amaçlarla işlenebilmekte ve
            aktarılabilmektedir.

            Kişisel Verilerinizle İlgili Haklarınız Nelerdir?

            Şirketimizce kişisel verileri işlenen ilgili kişiler olarak,
            haklarınıza
            ilişkin taleplerinizi bize iletmeniz durumunda, Şirketimiz,
            talebin
            niteliğine göre talebi en kısa sürede ve en geç otuz gün içinde
            ücretsiz
            olarak sonuçlandıracaktır. Ancak, işlemin ayrıca bir maliyet
            gerektirmesi hâlinde, Şirketimiz tarafından Kişisel Verileri
            Koruma
            Kurulunca belirlenen tarifedeki ücret alınacaktır. Bu kapsamda
            ilgili
            kişiler olarak Şirketimizden;


            • Kişisel veri işlenip işlenmediğini öğrenme,

            • Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,

            • Kişisel verilerin işlenme amacını ve bunların amacına uygun
            kullanılıp
            kullanılmadığını öğrenme,

            • Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı
            üçüncü
            kişileri bilme,

            • Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde
            bunların
            düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel
            verilerin
            aktarıldığı üçüncü kişilere bildirilmesini isteme,

            • 6698 sayılı Kanun ve ilgili diğer kanun hükümlerine uygun
            olarak
            işlenmiş olmasına rağmen,işlenmesini gerektiren sebeplerin
            ortadan
            kalkması hâlinde kişisel verilerin silinmesini veya yok
            edilmesini
            isteme ve bu kapsamda yapılan işlemin kişisel verilerin
            aktarıldığı
            üçüncü kişilere bildirilmesini isteme,

            • İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla
            analiz
            edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya
            çıkmasına
            itiraz etme,

            • Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle
            zarara
            uğraması hâlinde zararın giderilmesini talep etme

            haklarına sahipsiniz.

            6698 sayılı Kanun’un 13. maddesinin 1. fıkrası gereğince
            yukarıda
            belirtilen haklarınızı kullanmakla ilgili talebinizi
            www.inciholding.com
            internet adresinden kamuoyu ile paylaşılmış olan Başvuru formunu
            doldurmak suretiyle Şirketimize iletmeniz gerekmektedir.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn fs-5 fw-bold"
            data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid register-page-wrapper">

    <div class="row">

      <div class="col-lg-5 col-md-5 d-none d-lg-block bg-warning p-0 register-img-wrapper" style="height: 100vh;">

        <img class="h-100 w-100" src='../images/form_images/FİKRİM GELDİ ANA EKRAN GÖRSEL.jpg' alt="Fikrim-Geldi-Resim">

      </div>


      <div class="col-sm-12 col-lg-7 d-flex justify-content-center align-items-center register-form-wrapper">
        <div class="form-box text-center">

          <div class="logo">
            <img width="150" height="150" src="/images/logos/logo.png">
          </div>

          <div class="container overflow-x-hidden">
            {{#if msg}}
            <p data-aos="slide-left" data-aos-duration="1000" class=" mb-3 {{msg_type}} fs-4 fw-bold">{{msg}}</p>

            {{/if}}

          </div>
          <div class="heading mb-4">
            <h4>Bir hesap oluşturun</h4>
          </div>



          <form id="kayıt_ol_form" action="/kayit_ol" method="post" onsubmit="submitKayitOl()">

            <div class="container-fluid">
              <div class="row">
                <div class="form-input col-md-6">
                  <span><i class="fa-solid fa-user-tie orange-icon"></i></span>
                  <input type="text" name="name" id="name" placeholder="İsim" required>
                </div>

                <div class="form-input col-md-6">
                  <span><i class="fa-solid fa-user-tie orange-icon"></i></span>
                  <input type="text" name="surname" id="surname" placeholder="Soy İsim" required>
                </div>

                <div class="form-input col-md-6">
                  <span><i class="fa fa-envelope orange-icon"></i></span>
                  <input type="email" name="email" id="email" placeholder="Email Adresi" required>
                </div>

                <div class="form-input col-md-6">
                  <span><i class="fa-solid fa-building orange-icon"></i></span>
                  <select name="company" id="company">
                    <option selected disabled value="">Şirket</option>
                    <option>İnci Holding</option>
                    <option>İnci GS Yuasa Akü Sanayi ve Ticaret A.Ş.</option>
                    <option>Maxion İnci Jant Sanayi A. Ş.</option>
                    <option>Maxion Jantaş Jant Sanayi ve Ticaret A. Ş.</option>
                    <option>İncitaş Motorlu Araçlar San. A. Ş.</option>
                    <option>Yusen İnci Lojistik Ticaret A. Ş.</option>
                    <option>ISM Minibar Makina Elektrik Sanayi ve Ticaret A. Ş.</option>
                    <option>Vinci B.V. Girişim Sermayesi</option>
                  </select>
                </div>


                <div class="form-input col-md-6">
                  <span><i class="fa-solid fa-building-user orange-icon"></i></span>
                  <select name="department" id="department">
                    <option selected disabled value="">Departman</option>
                    <option>Teknoloji</option>
                    <option>Mali İşler</option>
                    <option>İnsan Kaynakları</option>
                  </select>
                </div>


                <div class="form-input col-md-6">
                  <span><i class="fa-solid fa-briefcase orange-icon"></i></span>
                  <input type="text" name="title" id="title" placeholder="Şirketteki Pozisyon" required>
                </div>

                <div class="form-input col-md-6">
                  <span><i class="fa fa-lock orange-icon"></i></span>
                  <input type="password" name="password" id="password" placeholder="Şifre" required>
                </div>

                <div class="form-input col-md-6">
                  <span><i class="fa fa-lock orange-icon"></i></span>
                  <input type="password" name="confirm_password" id="confirm_password" placeholder="Şifre(Tekrar)"
                    required>
                </div>


                <div>

                  <div class="custom-control custom-checkbox d-flex m-3">
                    <input type="checkbox" class="form-check-input" id="cb_kvkk" required>
                    <label class="custom-control-label" for="cb_kvkk"> <a class="kvkk-modal-nav" href="#"
                        class="fw-bold kvkk-link" data-bs-toggle="modal" data-bs-target="#kvkk-modal">KVKK Metnini</a>
                      okudum ve onaylıyorum</label>

                  </div>

                  <div class="buttons">
                    <button id="kyt-submit" type="submit" class="blob-btn">
                      KAYIT OL
                      <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                          <span class="blob-btn__blob"></span>
                          <span class="blob-btn__blob"></span>
                          <span class="blob-btn__blob"></span>
                          <span class="blob-btn__blob"></span>
                        </span>
                      </span>
                    </button>
                  </div>

                </div>

                <div>Zaten bir hesabınız var mı?
                  <a href="/giris_yap" class="login-link fw-bold">Buradan giriş yapın !</a>
                </div>


          </form>







        </div>
      </div>



    </div>



  </div>


  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="/js/kayıt_ol.js"></script>

</body>

</html>