<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Proje Ekle</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="../css/wow.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>



    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    {{!--
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/custom-sheets/navbar.css">
    <link rel="stylesheet" href="../css/proje_ekle.css">
    <link rel="stylesheet" href="/css/custom-sheets/scrollbar.css">



</head>

<body>

    <header>

        {{>navbar}}

    </header>


    <div class="super-wrapper-proje-ekle container-fluid overflow-x-hidden">


        <div class="container overflow-hidden my-5 animate__animated animate__fadeInLeft">
            <div class="card">
                <form id="project_form" action="/proje_ekle" method="post">

                    <!-- Card header -->
                    <div class="card-header py-4 px-5 border-0">
                        <h2 align="center" class="mb-0 fw-bold display-4 text-white">Proje Künyesi</h2>
                    </div>
                    <hr class="my-2" />

                    <!-- Card body -->
                    <div class="card-body px-5 mt-5">
                        <!-- Main info section -->
                        <div class="row gx-xl-5">
                            <div class="col-md-4">
                                <h3 class="fw-bold">Proje Hakkında Temel Bilgiler</h3>
                                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
                                    nemo odio et deserunt, sit eos nesciunt nobis officiis hic inventore commodi nam
                                    facilis blanditiis error. Repudiandae reprehenderit ipsam hic magni?</p>
                            </div>

                            <div class="col-md-8">
                                <div class="mb-3">
                                    <label for="project_name" class="form-label">Proje İsmi</label>
                                    <input type="text" class="form-control" id="project_name" name="project_name"
                                        style="max-width: 500px;" />
                                </div>
                                <div class="mb-3">
                                    <label for="project_subject" class="form-label">Proje Konusu</label>
                                    <input type="text" class="form-control" id="project_subject" name="project_subject"
                                        style="max-width: 500px;" />
                                </div>

                                <div class="mb-3">
                                    <label for="project_category" class="form-label">Proje Kategorisi</label>
                                    <select type="text" class="form-select" id="project_category"
                                        name="project_category" style="max-width: 500px;">
                                        <option value="Hizmet">Hizmet</option>
                                        <option value="Arge">Arge</option>
                                        <option value="Kurumsal Sosyal Sorumluluk">Kurumsal Sosyal Sorumluluk</option>
                                        <option value="Üretim">Üretim</option>

                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="project_sponsor" class="form-label">Proje Sponsoru</label>
                                    <input type="text" class="form-control" id="project_sponsor" name="project_sponsor"
                                        style="max-width: 500px;" />
                                </div>
                            </div>
                        </div>

                        <hr class="my-5" />

                        <!-- Team section -->
                        <div class="row gx-xl-5">
                            <div class="col-md-4">
                                <h3 class="fw-bold">Proje Takımı</h3>
                                <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Molestias fugiat cum nihil suscipit!</p>
                            </div>

                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="project_leader" class="form-label">Proje Lideri</label>
                                            <input type="text" class="form-control" id="project_leader"
                                                name="project_leader" />



                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <label for="table" id="add-members-info">Proje Takım Üyelerini Ekleyiniz</label>

                                        <table class="table table-responsive table-striped" id="table">
                                            <thead>
                                                <tr>
                                                    <th>Takım Üyesi</th>
                                                    <th>Projedeki Görev</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><textarea name="project_team_members"></textarea></td>
                                                    <td><textarea name="project_team_members_duty"></textarea></td>
                                                    <td style="text-align: center; vertical-align: middle;"><button
                                                            type="button" class="remove">Üyeyi Çıkar</button></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <button type="button" id="add">Üye Ekle</button>


                                    </div>

                                </div>


                            </div>
                        </div>

                        <hr class="my-5" />

                        <!-- Business address section -->
                        <div class="row gx-xl-5">
                            <div class="col-md-4">
                                <h3 class="fw-bold">Ek Bilgiler</h3>
                                <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Perferendis amet magnam voluptas voluptatum.</p>
                            </div>

                            <div class="col-md-8">
                                <div class="mb-3">


                                    <label for="editor" class="form-label">Proje Açıklaması</label>
                                    <div id="editor">



                                    </div>
                                    <textarea class="form-control d-none" id="project_explanation"
                                        name="project_explanation"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="project_image" class="form-label">Proje Kapak Görseli</label>
                                            <input type="file" class="form-control" id="project_image"
                                                name="project_image" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="project_file" class="form-label">Proje
                                            Dosyaları(.pptx,pdf,docx)</label>
                                        <input type="file" id="project_file" name="project_file"
                                            class="form-control mb-3" aria-label="Form data" multiple />
                                    </div>
                                    <hr class="my-2" />
                                    <div class="row">
                                        <div class="col-md-6 d-flex justify-content-center align-items-center">

                                            <div class="d-flex">
                                                <input class="form-check-input" type="checkbox" value="Evet"
                                                    id="kvkk-checkbox" required>
                                                <label class="form-label ms-3" for="kvkk-checkbox">
                                                    <a class="text-decoration-underline kvkk-anchor" href="#"
                                                        data-bs-target="#kvkk-modal" data-bs-toggle="modal">KVKK
                                                        metnini</a> okudum,anladım ve kabul ediyorum
                                                </label>

                                            </div>


                                        </div>
                                        <!-- Card footer -->

                                        <div class="col-md-6">

                                            <div class="card-footer text-center py-4 px-5 border-0 b">
                                                <div class="buttons">
                                                    <button type="submit" class="blob-btn">
                                                        PROJEYİ GÖNDER
                                                        <span class="blob-btn__inner">
                                                            <span class="blob-btn__blobs">
                                                                <span class="blob-btn__blob"></span>
                                                                <span class="blob-btn__blob"></span>
                                                                <span class="blob-btn__blob"></span>
                                                                <span class="blob-btn__blob"></span>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>



        </div>



    </div>


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="fa-solid fa-arrow-up"></i></a>
    </div>


    <div id="kvkk-modal" class="modal modal-lg fade text-black fw-normal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-3 text-center">İNCİ HOLDİNG - KİŞİSEL VERİLERİN
                        İŞLENMESİ
                        GENEL AYDINLATMA METNİDİR
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="text-indent: 20px;">
                        İNCİ
                        Kişisel verilerin korunması, Anayasal bir hak olup, Şirketimizin
                        öncelikleri kapsamında yer almaktadır. Nitekim bu amaçla,
                        Şirketimizde
                        devamlı olarak güncellenen bir sistem kurulması amaçlanmıştır.

                        Emrez Mah. Akçay 64/2 Gaziemir İzmir adresinde bulunan İnci
                        Holding A.Ş.
                        “Veri Sorumlusu” olarak, kişisel verilerinizin güvenliğine ve
                        hukuka
                        uygun şekilde işlenmesine azami hassasiyet göstermekteyiz. Bu
                        bilinçle,
                        Şirket olarak müşterilerimizin, potansiyel müşterilerimizin,
                        çalışanlarımızın, çalışan
                        adaylarımızın, stajyer ve öğrencilerimizin, tedarikçi/alt
                        işveren
                        çalışanlarının ve yetkililerinin, şirket hissedarlarımızın ve
                        şirket
                        ortaklarımızın, ziyaretçilerimizin ve diğer verisini işlediğimiz
                        üçüncü
                        kişilerin kişisel verilerinin 6698 sayılı Kişisel Verilerin
                        Korunması
                        Kanunu (“KVK Kanunu”)’na uygun olarak işlenmesine ve korunmasına
                        büyük
                        önem veriyoruz. Bu sorumluluğumuzun bilinciyle KVK Kanunu’nda
                        tanımlı
                        şekli ile “Veri Sorumlusu” sıfatıyla, kişisel verilerinizi
                        aşağıda
                        açıklandığı surette ve mevzuat tarafından emredilen sınırlar
                        çerçevesinde işlemekteyiz.

                        Kişisel Verilerinizi Hangi Amaçla İşliyoruz?

                        Kişisel verileriniz, Şirketimiz tarafından sunulan ürün ve
                        hizmetlerden
                        sizleri faydalandırmak için gerekli çalışmaların iş birimlerimiz
                        tarafından yapılması; Şirketimiz tarafından sunulan ürün ve
                        hizmetlerin
                        sizlerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre
                        özelleştirilerek sizlere
                        önerilmesi; Şirketimizin insan kaynakları politikalarının
                        yürütülmesinin
                        temini; Şirketimizin ve Şirketimiz ile iş ilişkisi içerisinde
                        olan
                        kişilerin hukuki ve ticari güvenliğinin temini; Şirketimizin
                        ticari ve
                        iş stratejilerinin belirlenmesi ve uygulanması amaçlarıyla
                        ticari
                        faaliyetlerimizi yürütmek çerçevesinde
                        6698 sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel
                        veri
                        işleme şartları ve amaçları dahilinde işlemekteyiz.

                        Kişisel verilerinizin Şirketimiz tarafından işlenme amaçları
                        konusunda
                        detaylı bilgiye; www.inciholding.com internet adreslerinden
                        kamuoyu ile
                        paylaşılmış olan Kişisel Verilerin Korunması ve İşlenmesi
                        Politikası’ndan ulaşabilirsiniz.

                        İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarıyoruz?

                        Toplanan kişisel verileriniz; Şirketimiz tarafından sunulan ürün
                        ve
                        hizmetlerden sizleri faydalandırmak için gerekli çalışmaların iş
                        birimlerimiz tarafından yapılması; Şirketimiz tarafından sunulan
                        ürün ve
                        hizmetlerin sizlerin beğeni, kullanım alışkanlıkları ve
                        ihtiyaçlarına
                        göre özelleştirilerek sizlere önerilmesi; Şirketimizin insan
                        kaynakları
                        politikalarının yürütülmesinin temini; Şirketimizin ve
                        Şirketimizle iş
                        ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin
                        temini;
                        Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve
                        uygulanması
                        amaçlarıyla; iş ortaklarımıza, tedarikçilerimize,
                        hissedarlarımıza,
                        iştiraklerimize, kanunen yetkili kamu kurumları ve özel
                        kişilere, ticari
                        faaliyetlerimizi yürütmek çerçevesinde 6698 sayılı Kanun’un 8.
                        ve 9.
                        maddelerinde belirtilen kişisel veri işleme şartları ve amaçları
                        çerçevesinde www.inciholding.com internet adresinden kamuoyu ile
                        paylaşılmış olan Kişisel Verilerin Korunması ve İşlenmesi
                        Politikası’nda
                        belirtilen amaçlarla sınırlı olarak aktarılabilecektir.


                        Kişisel Verileri Hangi Yöntemlerle Ve Hangi Hukuki Sebebe Dayalı
                        Olarak
                        İşliyoruz?

                        Kişisel verileriniz Şirketimiz tarafından internet sitesi, mobil
                        uygulamalar, çağrı merkezi ve fiziki kanallar gibi farklı
                        kanallarda
                        icra edilen teknik ve süreçsel yöntemlerle; bu kanalları
                        kullanarak
                        sizlere ticari hizmetlerimizi sunmak ve bu çerçevede ticari
                        faaliyetlerimizi yürütmek noktasında uygulama imkanı bulan
                        ilgili
                        mevzuat, sözleşme, talep, ticari teamül ve dürüstlük kurallarına
                        dayalı
                        olarak ortaya çıkan ve icra edilen hukuki sebepler çerçevesinde
                        toplanmaktadır. Bu hukuki sebeple toplanan kişisel verileriniz
                        6698
                        sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri
                        işleme
                        şartları ve amaçları kapsamında bu Aydınlatma Metni’nin (b) ve
                        (c)
                        maddelerinde belirtilen amaçlarla işlenebilmekte ve
                        aktarılabilmektedir.

                        Kişisel Verilerinizle İlgili Haklarınız Nelerdir?

                        Şirketimizce kişisel verileri işlenen ilgili kişiler olarak,
                        haklarınıza
                        ilişkin taleplerinizi bize iletmeniz durumunda, Şirketimiz,
                        talebin
                        niteliğine göre talebi en kısa sürede ve en geç otuz gün içinde
                        ücretsiz
                        olarak sonuçlandıracaktır. Ancak, işlemin ayrıca bir maliyet
                        gerektirmesi hâlinde, Şirketimiz tarafından Kişisel Verileri
                        Koruma
                        Kurulunca belirlenen tarifedeki ücret alınacaktır. Bu kapsamda
                        ilgili
                        kişiler olarak Şirketimizden;


                        • Kişisel veri işlenip işlenmediğini öğrenme,

                        • Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,

                        • Kişisel verilerin işlenme amacını ve bunların amacına uygun
                        kullanılıp
                        kullanılmadığını öğrenme,

                        • Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı
                        üçüncü
                        kişileri bilme,

                        • Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde
                        bunların
                        düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel
                        verilerin
                        aktarıldığı üçüncü kişilere bildirilmesini isteme,

                        • 6698 sayılı Kanun ve ilgili diğer kanun hükümlerine uygun
                        olarak
                        işlenmiş olmasına rağmen,işlenmesini gerektiren sebeplerin
                        ortadan
                        kalkması hâlinde kişisel verilerin silinmesini veya yok
                        edilmesini
                        isteme ve bu kapsamda yapılan işlemin kişisel verilerin
                        aktarıldığı
                        üçüncü kişilere bildirilmesini isteme,

                        • İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla
                        analiz
                        edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya
                        çıkmasına
                        itiraz etme,

                        • Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle
                        zarara
                        uğraması hâlinde zararın giderilmesini talep etme

                        haklarına sahipsiniz.

                        6698 sayılı Kanun’un 13. maddesinin 1. fıkrası gereğince
                        yukarıda
                        belirtilen haklarınızı kullanmakla ilgili talebinizi
                        www.inciholding.com
                        internet adresinden kamuoyu ile paylaşılmış olan Başvuru formunu
                        doldurmak suretiyle Şirketimize iletmeniz gerekmektedir.</p>
                </div>
                <div class="modal-footer">
                    <button style="background: #F29D35;" type="button" class="btn text-black fs-5 fw-bold"
                        data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    {{!--
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> --}}
    {{!--
    <script>
        AOS.init();
    </script> --}}
    <script src="../js/wow.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="../js/proje_ekle.js"></script>



</body>

</html>
<!-- end document-->