@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.buttons {
  margin-top: 20px;
  text-align: center;
  border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #f99a1d;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #f99a1d;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #ffffff;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #f99a1d;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 25%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 50%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 75%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}

.register-page-wrapper,
.register-form-wrapper {
  height: 100vh;
}

.register-img-wrapper {
  background-color: #F99A1D;
}

.register-img-wrapper img {
  object-fit: cover;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-box h4 {
  font-weight: bold;
  color: #111519;
}

.form-box .form-input {
  position: relative;
}

.form-box .form-input input,
.form-box .form-input select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #fff;
  padding-left: 45px;
  color: black;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border: none;
}

.form-box .form-input span {
  position: absolute;
  top: 8px;
  padding-left: 20px;
  color: #777;
}

.form-box .form-input input::placeholder,
.form-box .form-input select::placeholder {
  padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input select:focus .form-box .form-input input:valid {
  border: 3px solid #F99A1D;
  box-shadow: none;
}

.form-box input[type=checkbox]:not(:checked) + label:before {
  background: transparent;
  border: 2px solid #F99A1D;
  width: 15px;
  height: 15px;
}

.form-check-input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.form-check-input:checked {
  background-color: #F99A1D;
  border: 1.5px solid black;
  box-shadow: none;
}

.form-check-input:not(:checked) {
  background-color: #fff;
  border: 1.5px solid black;
  box-shadow: none;
}

.forget-link,
.register-link,
.login-link {
  color: #111519;
  font-weight: bold;
}

.forget-link:hover,
.register-link:hover,
.login-link:hover {
  color: #292525;
}

.orange-icon {
  color: #F99A1D;
}

.kvkk-link:hover,
.login-link:hover {
  color: #F99A1D;
}

.kvkk-modal-nav {
  color: #F99A1D;
  font-weight: bold;
}

.good {
  color: #00a68e;
  animation-name: glow;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.error {
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in 1s ease-out forwards;
  color: #ed1b24;
}

.modal-footer button {
  background-color: #F99A1D;
  color: white;
}
.modal-footer button:hover {
  background-color: #F43D38;
  color: white;
}

.btn-close {
  background-color: #F99A1D;
}
.btn-close:hover {
  background-color: #F43D38;
}

.btn-close:active, .btn-close:focus {
  box-shadow: none;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #F99A1D;
  }
  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #F99A1D;
  }
}
@keyframes slide-in {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-52%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
