@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

.main-navbar {
  font-weight: 600;
}

.project-item-wrapper {
  margin-top: 130px;
}

a {
  color: #f43d38;
  text-decoration: none;
}

a:hover {
  color: #f43d38;
}

.project-metadata {
  padding: 10px;
  background-color: #1d1b1b;
}

.project-metadata ul,
.project-data-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.project-metadata li {
  margin: 20px;
  color: white;
  font-weight: bold;
}

.project-metadata a {

  color: black;



}

.project-data-nav li {
  margin: 20px;
  font-weight: bold;
}

.project-content-wrapper h3,
.project-teamMembers-container h3 {
  color: #f99a1d;
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1024px) {
  .card-img {
    max-width: 100%;
    height: 300px;
  }

  .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: 300px;
  }
}

.darkmode-layer,
.darkmode-toggle {
  z-index: 1;
}
.darkmode--activated img {
  filter: invert(1);
}

.back-btn {
  background-color: #f99a1d;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s ease;
}
.back-btn:hover {
  background-color: #f43d38;
  color: white;
  transform: scale(1.1);
}

.project-content-wrapper img {
  height: auto;
  max-width: 100%;
}


.project-navigation {

background-color: #f99a1d;


}


#proje-ismi {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: white;
}




.project-name-wrapper {
  background-color: #1d1b1b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(249, 154, 29, 1);
}

@media only screen and (min-width: 320px) {
  #proje-ismi {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) {
  #proje-ismi {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1200px) {
  #proje-ismi {
    font-size: 58px;
  }
}

@media only screen and (min-width: 1600px) {
  #proje-ismi {
    font-size: 64px;
  }
}


.scroll-top {
  background: #f99a1d;
  width: 3rem;
  height: 3rem;
  position: fixed;
  border-radius: 50%;
  border: none;
  left: 32px !important;
  bottom: 32px;
  left: unset;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top:hover {
  background: #f43d38;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}