@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #f99a1d, #f99a1d, #252423, #252423);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
  font-family: 'Montserrat',sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card {
	border: none;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form-control {
  border: none;
  outline: none;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(247 157 53 / 100%);
  border: none;
  outline: none;
}

.btn {
  background-color: #282828;
  color: #f8f8f8;
}

.btn:hover {
  background-color: #F43D38;
  color: white;
}


a {
  text-decoration: none;
  color: #f99a1d;
  font-size: 16px;
  font-weight: bold;
}

a:hover {

color: #F43D38;

}

@keyframes slide-in-anim {
  20% {
    opacity: 0;
  }

  60% {
    transform: translateX(-45%);
  }

  75% {
    transform: translateX(-52%);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

h1 {
  font-family: "arial black";
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}

.good {
  color: #171717;
  animation-name: glow;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.error {
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in 1s ease-out forwards;
  color: #ef011e;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #f29d35;
  }

  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #f29d35;
  }
}

@keyframes slide-in {
  20% {
    opacity: 0;
  }

  60% {
    transform: translateX(-45%);
  }

  75% {
    transform: translateX(-52%);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
